<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. -->
<!--    This page needs to show full job listings—ID, employer, location, etc.-->
<!--    1. In list-jobs.html, create a loop to display each job passed in from the controller.-->
<!--    The job data should be presented in tables, with each job in its own table.-->
<!--    Be sure to check in ListController to find the variable names available to the template.-->
<!--    2. Adding the CSS class "job-listing" to a table provides some nice styling, courtesy of Carly’s work!-->
<!--    3. Construct a table for each job, with one job field per row.-->
<!--    4. Be sure to test your code by running the program and clicking links from different categories on the /list page.-->
<!--    -Clicking the Web - Back End link yields 6 jobs.-->
<!--    -iOS yields 4 jobs.-->
<!--    -New York yields 1 job.-->

    <table th:each = "job : ${jobs}" class = "job-listing">

    </table>

</div>

</body>
</html>